/* ======= Typography style ======= */
:root {
    --primary-blue: #13FFFF;
    --secondary-blue: #153CAF;
    --text-gray: #67696c;
    --bg-color: #FAFAF7;
    --light-gray: #F5F4EE;
    --soft-white: #F9F9F9;
    --black: #000000;
    --white: #FFFFFF;

    /* font */
    --font-body: "Poppins", sans-serif;
    --font-head: "Libre Baskerville", serif;

}

/* BreadCrumb Section */
.breadcrumb-box {
    position: relative;
    background: url('../img/weld-1.webp') center center / cover no-repeat;
    width: 100%;
    padding: clamp(4rem, 10vw, 8rem) 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.breadcrumb-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.breadcrumb-content {
    max-width: 900px;
}


.breadcrumb-content>* {
    position: relative;
    z-index: 2;
}

.breadcrumb-content h1 {
    text-transform: uppercase;
    font-size: clamp(35px, 6vw, 55px);
    color: var(--white);
}

.breadcrumb-content p {
    text-transform: capitalize;
    font-size: 16px;
    color: var(--white);
}


.breadcrumb-content a {
    position: relative;
    color: var(--white);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s ease;
}

.breadcrumb-content a:hover {
    background-size: 100% 2px;
}



.breadcrumb-content span {
    text-transform: capitalize;
    text-decoration: none;
    color: var(--white);
}




@media (max-width:945px) {
    .breadcrumb-content {
        max-width: 900px;
        margin-top: 40px;
    }
}

/* BreadCrumb Section */





















/* ==============================
   About Service Section
============================== */

.about-service-section .container {
    position: relative;
    overflow: hidden;
    padding: 60px 80px;
    border-radius: 12px;
}

/* Background image overlay */

.about-service-section .container::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("../img/on-site.jpeg") center/cover no-repeat;
    z-index: 0;
}

/* Keep content above background */

.about-service-section .row {
    position: relative;
    z-index: 1;
}

/* Left side */

.about-service-list-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Service cards */

.about-service-list {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;
    padding: 15px 10px;

    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.06);

    transition: transform .25s ease;
}

.about-service-list:hover {
    transform: translateY(-6px);
}

/* Icons */

.service-list-icon img {
    width: 60px;
    height: 60px;
    filter: invert(1);
    margin-bottom: 6px;
}

/* Title */

.about-service-list h4 {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
}


/* About Service Section */
















/* FAQ SECTION */

.faq-section {
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 0px;
}

.faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question h5 {
    margin: 0;
    font-weight: 500;
    color: #2b2b2b;
}

.faq-toggle {
    font-size: 1.8rem;
    color: var(--secondary-blue);
    /* Logo accent */
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    color: #6a6a6a;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    opacity: 1;
    margin-top: 0.5rem;
}

.faq-item.active .faq-toggle {
    transform: rotate(45deg);
    /* turns + into × */
}

/* FAQ SECTION */









/* ======= CTA SECTION ======= */


.cta-box {
    position: relative;
    overflow: hidden;
    padding: 40px 80px;
    height: 450px;
}

.cta-box::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;

    z-index: 0;
}

.cta-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 650px;
}

.cta-content h2 {
    font-size: clamp(35px, 7vw, 60px);
    color: var(--white);
    text-transform: capitalize;
}

.cta-content h2 span {
    color: var(--secondary-blue);
    text-transform: capitalize;
}

@media (max-width:992px) {
    .cta-section {
        padding: 0px 60px;
    }

    .cta-box {
        padding: 40px 60px;
    }

}

@media (max-width:767px) {
    .cta-section {
        padding: 0px 30px;
    }

    .cta-box {
        padding: 40px 30px;
    }

}

@media (max-width:557px) {
    .cta-section {
        padding: 0px 12px;
    }

    .cta-box {
        padding: 40px 12px;
    }

    .gallery-btn a {
        margin-bottom: 10px;
    }
}


/* ======= Lets Talk CTA SECTION ======= */